<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chatbot_Hola</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_s.css') }}">
    <video playsinline autoplay muted loop>
        <source src="https://media.istockphoto.com/id/1124839867/vi/video/tr%E1%BB%A3-l%C3%BD-nh%C3%A0-th%C3%B4ng-minh.mp4?s=mp4-640x640-is&k=20&c=mfpPjUo-En-v49eaPZVEsLc7IVl_DpnYZeWTgepcMkg=">
    </video>
</head>
<body>
    <a href="/login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Chatbot
    </a>
</body>
</html>
