<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <video playsinline autoplay muted loop>
        <source src="https://media.istockphoto.com/id/1456392312/vi/video/b%C3%A0n-ph%C3%ADm-g%C3%B5-kh%C3%A1i-ni%E1%BB%87m-canh-t%C3%A1c-th%C3%B4ng-minh.mp4?s=mp4-640x640-is&k=20&c=hMPrs3bze3wCOulxm5pFxxjSBjZzaujW3Z_tfL9cokw=">
        </video>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>